.table-bordered th, .table-bordered td {
	border-left-style: none;
}
.table-bordered, .table-bordered {
	border-left: 1px solid #DDDDDD;
}
.row {
	margin-left: 0;
}
div.right-controls {
	float: right;
	width: 70%;
	margin-bottom: 5px;
}
div.left-controls {
	width: 20%;
}
div.dataTables_length label {
	float: right;
	text-align: left;
	padding-left: 5px;
}

div.dataTables_length select {
	width: 50px;
	height: 35px;
	font-size: 12px;
	padding-top: 6px;
}

div.dataTables_filter {
	float: left;
}

div.dataTables_info {
	float: right;
	padding: 5px;
	font-size: 12px;
	font-weight: bolder;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	margin-bottom: 6px !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('../images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
	outline: none;
}

.table th, .table td {
	padding: 8px 4px 4px 10px;
}
